
<!doctype html>
<html lang="en">
{% load static %}
  <head>

    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/fontawesome.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <title>mojtaba's Site</title>






  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">

        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">{% block titlepage %}{% endblock %}</h1>
        <div class='row'>
        {% block MainContent %}  {% endblock %}
        </div>
      </main>


</html>